body {
	background: #CC9933;
	color: #333;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color : #333;
}

em {
	font-weight: bold;
}

a:hover {
	font-weight: bold;
}

h1 {
	font-family: fantasy;
	font-weight: normal;
	text-align: center;
	font-size: 40px;	
	text-shadow: 1px 1px 1px #CC9933;
	margin-bottom: 5px;
}

.main_title_box {
	text-align: center;
	font-size: 20px;
	box-shadow: 1px 1px 10px black;
	margin-top: 10px;
	 letter-spacing: 1px;
	 padding-bottom: 5px;
	 background-color: white;
}


.space {
	padding-top: 40px;
}

.bigtitle h2 {
	background-color: #8C5A31;
	font-family: Georgia, serif;
	text-align: center;
	font-size: 22px;
	padding: 10px 0;
	color: #FFF;
  text-shadow: 1px 1px 1px #CC9933;
  margin-top:50px;
}

.menu {
    margin: 0 auto;
    text-align:center;
}
.menu li {
    float: left;
    list-style: none outside none;
}
.menu a {
    background: none repeat scroll 0 0 #CC9933;
    color: #000;
    display: block;
    margin: 0 0 0 0;
    padding-top: 10px;
    width: 155px;
    font-weight: bold;
    border-bottom: 10px solid #CC9933;
}
.menu a:hover {
    background: none repeat scroll 0 0 #8C5A31;
    color: #FFF;
    border-bottom: 10px solid #CC9933;
}
.menu a.selected {
    background: none repeat scroll 0 0 #8C5A31;
    color: #FFF;
    border-bottom: 10px solid #8C5A31;
}

.menu a.selected:hover {
  background: none repeat scroll 0 0 #CC9933;
  color: #000;
  border-bottom: 10px solid #8C5A31;
}


.exp_subtitle h3 {
	font-size: 16px;
	font-size: 18px;
  margin-bottom: 30px;
}

.example {
	margin-left:50px;
	font-style:italic;
	list-style-type:square;
	font-size:12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact {
	font-size: 12px;
}

 #myface {
    border:2px solid black;
  }
  .gotomenu {
    float:right;
    font-size:20px;
    color:white;
    margin: 3px;
  }
  .language {
    text-align:center;
  }
  em {
   font-size: 18px;
  }
  .job_separator {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }
  .exp_subtitle{
    margin-left:-40px;
  }
#bottom {
    background: #8C5A31 url("flame.png") repeat-x scroll 0 0;
    color: wheat;
    padding-top: 50px;
    text-align: center;
    margin: 0;
}

.contact p{
  width:170px;
  text-align:center;
  border-bottom:2px;
  font-size:16px;
}

.contact {
  margin-top:10px;
}

.cvcontainer {
  background: url("bg.jpg") repeat-y scroll center center transparent;
}

.effet3d {
  background: url("3d.png") no-repeat scroll center transparent;
  height: 28px;
}

.bigtitle {
  margin: 0;
  width: 960px !important;
}


.expert {
  box-shadow: 1px 1px 10px black;
    padding: 10px;
}

.skills ul{
  width:100%;
  text-align:center;
  margin-top:70px;
  background-color: #EFE3E3;
  padding:5px 0;
}

.skills ul li:first-child {
  font-size:16px;
  font-weight:bold;
  margin-bottom: 10px;
  text-decoration: underline;
}

.curl {
    background: url("curl.png") no-repeat center bottom transparent;
    width: 100%;
    height: 25px;
}

.job p, .study p {
  margin-bottom:5px;
}

.job ul li {
  list-style-type: square;
  margin-left:30px;
}

.language h3 {
	font-size: 16px;
	font-size: 18px;
  margin-bottom: 10px;
}

.language p {
  margin-top:10px;
}

.study {
  margin-bottom: 20px;
}

.job_separator {
  color: #8C5A31;
}
