<!DOCTYPE html>

<html>
<head>
   <title>{{ page.title }}</title>
   <meta name="author" content="Jérome Prudent" />
   <meta charset="UTF-8">
   
  <link rel="stylesheet" href="/css/typelate.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="header">
    <a class ="blog-title" href="/">Blog de Jérôme Prudent</a>
    <ul class="menu">
      <li><a href="mailto:jprudent@gmail.com">Email</a></li>
      <li><a href="http://www.linkedin.com/in/jprudent">LinkedIn</a></li>
      <li><a href="https://github.com/jprudent">Github</a></li>
    </ul>
    <div class="blog-abstract">Développeur ...</div>
  </div>
  
  <div class="body">
    {{ content }}
  </div>
  
  <div class="footer">
      <p>Work place: <a href="http://www.arolla.fr">Arolla</a>.</p>
      <p>© <a href="/">Jérôme Prudent</a></p>
      <p><a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img
        alt="Creative Commons License" style="border-width: 0pt;" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"></a></p>
  </div>
  
</body>
</html>
