<!DOCTYPE html>

<html>
<head>
   <title>{{ page.title }}</title>
   <meta name="author" content="Jérome Prudent" />
   <meta charset="UTF-8">
   
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="header">
    <a class="title" href="{{ site.domain }}">Jérôme Prudent</a>
  </div>
  <div class="main">
    {{ content }}
  </div>
  <div class="footer">
    <p>© <a href="{{ site.domain }}">Jérôme Prudent</a></p>
    <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img
        alt="Creative Commons License" style="border-width: 0pt;" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"></a>
    This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text"
      rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">Creative
      Commons Attribution 2.0 France License</a>.
  </div>
</body>
</html>
