<!DOCTYPE html>

<html>
<head>
   <title>{{ page.title }}</title>
   <meta name="author" content="Jérome Prudent" />
   <meta charset="UTF-8">
   
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="main">
    {{ content }}
  </div>
  <div class="footer">
    <div class="section">
      <p>Job</p>
      <p>Je suis toujours à la recherche d’un projet tripident. N’hésitez pas à
      consulter mon <a href="/cv/cv_fr.html">CV</a>. <a
          href="/cv/cv.html">English</a> version.</p>
    </div>
    
    <div class="section">
      <p>Licence</p>
      <p>© <a href="/">Jérôme Prudent</a></p>
      <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img
          alt="Creative Commons License" style="border-width: 0pt;" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"></a>
    </div>
    
    <div class="section">
      <p>Contacts</p>
      <ul>
        <li><a href="mailto:jprudent@gmail.com">Par mail</a></li>
        <li><a href="http://www.linkedin.com/in/jprudent">Par LinkedIn</a></li>
        <li><a href="https://github.com/jprudent">Par Github</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
